.bg-image {
    background-image: url("images/improvedlogo.png");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}