.bg-image{
    background-image: url("images/grill picture for website.png");
    background-size: cover;/*cover the entire screen*/
    background-position: center;/*keep it centered*/
    background-repeat: no-repeat;/*prevent tiling */
    min-height: 100vh;/*full screen height */
    margin: 0%; /*remove unwanted space */
    background-position:fixed;
    z-index: -1;
}